<launch>
    <!-- Use environment variable ZUJDANCRE_ROBOTID to determine robotId, this the default way to launch dvision / dbehavior ... -->
    <node pkg="dvision"
          name="ext_calib_$(env ZJUDANCER_ROBOTID)"
          type="ext_calib"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">

        <!--Set log level-->
        <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dlaunch)/drosconsole.conf"/>

        <!--Private parameters-->
        <param name="pos" value="$(arg pos)"/>
        <param name="RobotId" value="$(env ZJUDANCER_ROBOTID)" />
        <param name="dvision/object_detector/home_folder" value="$(env HOME)"/>
        <rosparam command="load" file="$(find dvision)/config/ext_points.yml"/>
        <rosparam command="load" file="$(find dconfig)/$(env ZJUDANCER_ROBOTID)/dvision/misc.yml"/>
        <rosparam command="load" file="$(find dconfig)/$(env ZJUDANCER_ROBOTID)/dvision/camera.yml"/>
        <rosparam command="load" file="$(find dconfig)/$(env ZJUDANCER_ROBOTID)/dvision/localization.yml"/>
        <rosparam command="load" file="$(find dvision)/config/localization.yml"/>
    </node>

    <!--Global parameters-->
    <rosparam command="load" file="$(find dconfig)/global.yml"/>
</launch>
