<launch>
    <!-- Use environment variable ZUJDANCRE_ROBOTID to determine robotId, this the default way to launch dvision / dbehavior ... -->
    <node pkg="dvision"
          name="zed_ext_calib_$(env ZJUDANCER_ROBOTID)"
          type="zed_ext_calib"
          output="screen"
          respawn="false"
          required="true"
          cwd="node"
          args="">

        <!-- 设置日志级别 -->
        <env name="ROSCONSOLE_CONFIG_FILE" value="$(find dlaunch)/drosconsole.conf"/>

        <!-- 私有参数 -->
        <param name="pos" value="$(arg pos)"/>
        <param name="RobotId" value="$(env ZJUDANCER_ROBOTID)"/>
        <param name="dvision/object_detector/home_folder" value="$(env HOME)"/>
        <rosparam command="load" file="$(find dvision)/config/ext_points.yml"/>
        <rosparam command="load" file="$(find dconfig)/$(env ZJUDANCER_ROBOTID)/dvision/misc.yml"/>
        <rosparam command="load" file="$(find dconfig)/$(env ZJUDANCER_ROBOTID)/dvision/camera.yml"/>
        <rosparam command="load" file="$(find dconfig)/$(env ZJUDANCER_ROBOTID)/dvision/localization.yml"/>
        <rosparam command="load" file="$(find dvision)/config/localization.yml"/>
    </node>

    <!-- 全局参数 -->
    <rosparam command="load" file="$(find dconfig)/global.yml"/>
</launch>