<launch>
  <include file="$(find dvision)/launch/zed_default.launch"/>
  <include file="$(find dancer-io)/launch/dancer-io.launch" />
  <include file="$(find dplanner)/launch/default.launch" />
  <include file="$(find dnetwork)/launch/default.launch" />
  <include file="$(find dbehavior)/launch/default.launch" />
</launch>


